<div class="module_article_right_create left">
	<div class="module_article_right_create_top">
		<span>编辑文章</span>
	</div>
	<div class="module_article_right_create_main">
	<form method="post" action="admin.php?mod=m_articledeal">
		标题：<input type="text" class="input_text" name="title" value="<?php echo $article['title']; ?>" /><br /><br />
		栏目：<span style="color:#999999;"><?php echo $column['name']?></span><br /><br />
		作者：<input type="text" class="input_text" name="author" value="<?php echo $article['author']; ?>" /><br /><br />
		来源：<input type="text" class="input_text" name="source" value="<?php echo $article['source']; ?>" /><br /><br />
		地址：<input type="text" class="input_text" name="sourceurl" value="<?php echo $article['sourceurl']; ?>" /><br /><br />
		<textarea id="ueditor" name="content"><?php echo $article['content']; ?></textarea><br />
		<script type="text/javascript">
			var editor = new UE.ui.Editor();
			editor.render("ueditor");
		</script>
		初始点击数：<input type="text" class="input_text" name="clicknum" value="<?php echo $article['clicknum']; ?>" style="width:50px; margin-right:50px;" />
		排序：<input type="text" class="input_text" name="order" value="<?php echo $article['order']; ?>" style="width:50px;" /><br /><br />
		<input type="hidden" name="id" value="<?php echo $article['id']; ?>" />
		<input type="hidden" name="chan" value="<?php echo $chan; ?>" />
		<input type="hidden" name="col" value="<?php echo $article['column']; ?>" />
		<input type="hidden" name="pop" value="edit_art" />
		<input type="submit" class="right cp" value="保存" /><br /><br />
	</form>
	</div>
</div>